{% load staticfiles %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Welcome | Winky</title>
    
   <script src="http://cdn.peerjs.com/0.3/peer.js"></script>

    
    
  </head>

  <body> 

    <div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		<p>Your User Id is {{userid}}</p>
		<br>
		<p>Your Room no is </p><p id="nishi"></p>
    <br>
    Friend's email: <input id="Suma" type="email" name="Email" value=""><br>
    <button onclick="submit()">
      Submit
    </button>
	</div>
	
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script type="text/javascript">
    function submit(){
                        // var peer = new Peer({key: 'pa3g9qguzmgc766r'});
                        // peer.on('open', function(id) {
                        //   console.log('My peer ID is: ' + id);
                          Email = document.getElementById("Suma").value;
                        $.post('/tokenpass/', {'friendsEmail=':Email },function(data){
                          switch(data){
                            case '0': alert("ERROR");
                                    break;
                            case '1': window.location.replace("/chatbox");
                                    break;
                            case '2': alert("Friend not a winky user");
                                    break;
                            case '3': alert("Friend already in another chat, pls wait!");
                                    break;
                            default: console.log("Not from winky server!!!");
                                      console.log(data)                        
                          }
                        } );
                       // });
                       
    }                    
      // You can pick your own id or omit the id if you want to get a random one from the server. </script>
      <script type="text/javascript">
      $(document).ready(function(){
            // var peer = new Peer({key: 'pa3g9qguzmgc766r'});
            // peer.on('open', function (id) {
            //               document.getElementById('nishi').innerHTML= id;  
                          function soman(){
                                            $.post('/chatcheck/', function(data){
                                            if(data==0){
                                                          var delay=2000; 
                                                          setTimeout(function(){
                                                                                  soman();  
                                                                                  //alert("1");
                                                                                }, delay); 
                                                        }
                                            else if(data==1)
                                                          window.location.replace("/chatbox");
                                          });
                                          }  
                          soman();
             });
      </script>
  </body>
</html>
