{% load staticfiles %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login | Winky</title>
    
     <!-- <meta name="google-signin-scope" content="profile email"> -->

    <meta name="google-signin-client_id" content="841750429424-1hba7bekjmrm1ngbn3m2hrlfb44fodgu.apps.googleusercontent.com">

    
    
        <!-- <link rel="stylesheet" href="css/style.css"> -->
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <!-- // <script src="https://apis.google.com/js/platform.js" async defer></script> -->
<style type="text/css">
	.g-sigin2{
		data-width="300"
		data-height="200"
		data-longtitle="true"
	}
</style>    



    
  </head>

  <body>

    <div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		
		<form class="form">
			
			<div class="g-signin2" data-onsuccess="onSignIn"  id="google-signin-but"></div>

<script>
function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());

       var profile = googleUser.getBasicProfile();
  var id_user = profile.getId() ;
  var id_token =  googleUser.getAuthResponse().id_token;
  var id_firstname = profile.getGivenName();
  var id_lastname = profile.getFamilyName();
  var id_imageurl = profile.getImageUrl();
  var id_email = profile.getEmail();
  console.log('ID:: ' + id_user);
  console.log('Token: ' + id_token); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + id_firstname);
  console.log('Image URL: ' + id_imageurl);
  console.log('Email: ' + id_email);
  successanimation();
  jQuery.post('/auth/', {'idtoken=':id_token } 

              ,function(data) {
                         		if(data == 1)
                         			window.location.replace("/dash");
                            else
                              alert("Cannot redirect, auth error"+data);
                        		
                             }
                             );

};
    
function onFailure(error) {
      console.log(error);
}
function renderButton() {
      gapi.signin2.render('google-signin-but', {
        'scope': 'https://www.googleapis.com/auth/plus.login',
        'width': 200,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
});
}



</script>
		</form>


	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="{% static 'js/login.js' %}"></script>
        <script type="text/javascript">

        </script>

    
   
     <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  </body>
</html>
